* {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
  }
  
  html, body {
    height: 100%;
    background: #272727;
  }

  h1 {
    font-size: 2.5rem;
    margin-top: 40px;
    text-transform: uppercase;
    line-height: 3rem;
  }

  h1 span {
      font-weight: 100;
  }

  h2 {
    margin-top: 10px;
    font-weight: 300;
  }

  .top {
    height: 550px;
    padding: 20px 30px;
    position: relative;
    background: #272727; /* Old browsers */
    background: -moz-linear-gradient(top, #272727 0%, #202020 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #272727 0%,#202020 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #272727 0%,#202020 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272727', endColorstr='#202020',GradientType=0 ); /* IE6-9 */
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo img {
    height: 50px;
  }

  nav {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    font-size: 0.9rem;
    font-weight: 500;
  }

  .slideshow {
    display: flex;
    position: absolute;
    bottom: 0;
    height: 500px;
    width: calc(100% - 60px);
    justify-content: space-between;
  }

  .slideshow img {
    width: 89%;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .slideshow-left {
    width: 40%;
  }

  .slideshow-right {
    position: relative;
    width: 60%;
  }

  .slideshow-links {
    display: flex;
    position: absolute;
    flex-direction: column;
    bottom: 20px;
  }

  .slideshow-links a {
    text-decoration: none;
    font-size: 0.9rem;
    margin-bottom: 10px;
  }

  .slideshow-link-1 {
      color: #343434;
  }

  .slideshow-link-2, .slideshow-link-4 {
      color: #646464;
  }

  .slideshow-link-3 {
      color: #fff;
  }

  .bottom {
    display: flex;
    padding: 30px;
    width: calc(100% - 60px);
    justify-content: space-between;
  }

  .left {
    width: calc(46% - 20px);
  }

  .right{
    width: calc(52% - 0px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;  }

  .left img, .top-right img, .bottom-right, .bottom-right img {
    width: 100%;
  }

  footer {
    height: 60px;
    padding: 0 30px;
    background: #2c2c2c;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  footer ul {
    width: 260px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  footer a {
    text-decoration: none;
  }

  footer li {
    list-style: none;
  }