* {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
  }
  
  html, body {
    height: 100%;
  }

  .top {
      height: 710px;
      background: #272627;
      padding: 20px 30px;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo img {
    height: 50px;
  }

  nav {
    width: 30%;
    display: flex;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    font-size: 0.9rem;
    font-weight: 500;
  }